# **Default Setting**

* Python: 3.6.9
* ML Framework: tf-nightly-gpu 2.5.0-dev20201208
* CPU: AMD Ryzen 5 5600X 6-Core Processor
* GPU: GeForce RTX 3070 (8G) (CUDA 11.1)
* RAM: 32G
* Platform: linux 20.04 LTS

In [1]:
%env NOTEBOOKNAME try4
%env LOCAL_DATA_PATH data
%env SUBMISSION_PATH submission

env: NOTEBOOKNAME=try4
env: LOCAL_DATA_PATH=data
env: SUBMISSION_PATH=submission

In [2]:
import tensorflow as tf
import tensorflow_addons as tfa

import datetime
import glob
import os
import platform

import numpy as np
import pandas as pd

from collections import OrderedDict
from sklearn.model_selection import train_test_split

print(f"tf.__version__: {tf.__version__}")
print(f"tfa.__version__: {tfa.__version__}")

/home/myunggyo/anaconda3/envs/py36/lib/python3.6/site-packages/tensorflow_addons/utils/ensure_tf_install.py:44: UserWarning: You are currently using a nightly version of TensorFlow (2.5.0-dev20201208).
TensorFlow Addons offers no support for the nightly versions of TensorFlow. Some things might work, some other might not.
If you encounter a bug, do not file an issue on GitHub.
  UserWarning,

tf.__version__: 2.5.0-dev20201208
tfa.__version__: 0.11.2

In [3]:
tf.config.list_physical_devices()

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'),
 PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [4]:
!python -V

Python 3.6.9 :: Anaconda, Inc.

In [5]:
# !cat /proc/cpuinfo

In [6]:
!nvidia-smi

Fri Dec 11 19:03:27 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.32.00    Driver Version: 455.32.00    CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Graphics Device     On   | 00000000:0A:00.0  On |                  N/A |
|  0%   35C    P8    19W / 220W |    412MiB /  7979MiB |      1%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A       916      G   /usr/lib/xorg/Xorg                 35MiB |
|    0   N/A  N/A      1437      G   /usr/lib/xorg/Xorg                 83MiB |
|    0   N/A  N/A      1563      G   /usr/bin/gnome-shell               89MiB |
|    0   N/A  N/A      1843      G   ...AAAAAAAA== --shared-files      188MiB |
+-----------------------------------------------------------------------------+

In [7]:
# !df -h

In [8]:
!free -h

              total        used        free      shared  buff/cache   available
Mem:           31Gi       2.6Gi        26Gi       512Mi       2.4Gi        27Gi
Swap:         2.0Gi          0B       2.0Gi

In [9]:
platform.platform()

'Linux-5.4.0-56-generic-x86_64-with-debian-bullseye-sid'

In [10]:
# Load the TensorBoard notebook extension.
%load_ext tensorboard

# **Define Arguments**

In [11]:
args = OrderedDict({
    # Basic
    "SEED": 42,
    "TEST_SIZE": 0.2,
    "EPOCH": 10,
    "INIT_LR": 1e-3,
    
    # Dataframe
    "NUM_TEST_CSV": 81,
    
    # Dataset Pipeline
    "WINDOW_INP": 7 * 24 * 2, # 336, 7 days
    "WINDOW_TAR": 2 * 24 * 2, # 96, 2 days
    "WINDOW_SHIFT": 1 * 24 * 2, # 1 day
    "WINDOW_STRIDE": 1,
    "WINDOW_DR": True, # Drop remainders
    "AUTO": tf.data.experimental.AUTOTUNE,
    
    "GLOBAL_BATCH_SIZE": 128,
    
    # Model
    "NUM_UNITS": 128, # lstm units
    "NUM_FEATURES": 6, # dense featues
    "NUM_QUANTILE": 9,
    
})

args

OrderedDict([('SEED', 42),
             ('TEST_SIZE', 0.2),
             ('EPOCH', 10),
             ('INIT_LR', 0.001),
             ('NUM_TEST_CSV', 81),
             ('WINDOW_INP', 336),
             ('WINDOW_TAR', 96),
             ('WINDOW_SHIFT', 48),
             ('WINDOW_STRIDE', 1),
             ('WINDOW_DR', True),
             ('AUTO', -1),
             ('GLOBAL_BATCH_SIZE', 128),
             ('NUM_UNITS', 128),
             ('NUM_FEATURES', 6),
             ('NUM_QUANTILE', 9)])

# **Load Datasets**

## **Train / Validation**

In [12]:
df = pd.read_csv(os.path.join(os.environ["LOCAL_DATA_PATH"], "train", "train.csv"))
df.head()

   Day  Hour  Minute  DHI  DNI   WS     RH   T  TARGET
0    0     0       0    0    0  1.5  69.08 -12     0.0
1    0     0      30    0    0  1.5  69.06 -12     0.0
2    0     1       0    0    0  1.6  71.78 -12     0.0
3    0     1      30    0    0  1.6  71.75 -12     0.0
4    0     2       0    0    0  1.6  75.20 -12     0.0

In [13]:
df.describe()

,Day,Hour,Minute,DHI,DNI,WS,RH,T,TARGET
count,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000
mean,547.000000,11.500000,15.000000,64.344121,234.792371,2.456033,56.793102,9.279928,17.790630
std,316.102148,6.922252,15.000143,103.897125,349.684583,1.426874,22.052875,10.179741,25.759955
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.590000,-19.000000,0.000000
25%,273.000000,5.750000,0.000000,0.000000,0.000000,1.400000,39.697500,1.000000,0.000000
50%,547.000000,11.500000,15.000000,0.000000,0.000000,2.200000,57.600000,9.000000,0.000000
75%,821.000000,17.250000,30.000000,87.000000,469.000000,3.200000,72.770000,17.000000,32.089890
max,1094.000000,23.000000,30.000000,528.000000,1059.000000,12.000000,100.000000,35.000000,99.913939

In [14]:
tr_df, vl_df = train_test_split(
    df, 
    test_size = args["TEST_SIZE"], 
    random_state = args["SEED"])

tr_df.shape, vl_df.shape

((42048, 9), (10512, 9))

In [15]:
def preprocessing(df, is_training = True):
    # Drop timestampes.
    try:
        df = df.drop(["Day", "Hour", "Minute"], axis = 1)
    except:
        pass
    
    # Normalize.
    for column in df.columns:
        if is_training:
            args[f"{column}_MAX"] = df[column].max()
            args[f"{column}_MIN"] = df[column].min()
        
        df[column] = (df[column] - args[f"{column}_MIN"]) / (args[f"{column}_MAX"] - args[f"{column}_MIN"])
        
    return df

In [16]:
tr_df = preprocessing(tr_df)
vl_df = preprocessing(vl_df, is_training = False)

In [17]:
tr_df.describe()

,DHI,DNI,WS,RH,T,TARGET
count,42048.000000,42048.000000,42048.000000,42048.000000,42048.000000,42048.000000
mean,0.121155,0.221624,0.204474,0.532615,0.523211,0.177645
std,0.195675,0.330325,0.118662,0.238854,0.188508,0.257436
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.116667,0.347040,0.370370,0.000000
50%,0.000000,0.000000,0.183333,0.541392,0.518519,0.000000
75%,0.164773,0.443815,0.266667,0.706309,0.666667,0.320789
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
vl_df.describe()

,DHI,DNI,WS,RH,T,TARGET
count,10512.000000,10512.000000,10512.000000,10512.000000,10512.000000,10512.000000
mean,0.124701,0.222062,0.205452,0.531757,0.525669,0.181208
std,0.201099,0.329730,0.119881,0.237798,0.188532,0.261486
min,0.000000,0.000000,0.008333,0.004437,0.037037,0.000000
25%,0.000000,0.000000,0.116667,0.348231,0.370370,0.000000
50%,0.000000,0.000000,0.183333,0.540634,0.518519,0.000000
75%,0.168561,0.438149,0.266667,0.700249,0.666667,0.324526
max,0.990530,0.998111,0.983333,1.000000,1.000000,1.001672

## **Test**

In [19]:
ts_filenames = [os.path.join(os.environ["LOCAL_DATA_PATH"], "test", f"{i}.csv") for i in range(args["NUM_TEST_CSV"])]
ts_dfs = [preprocessing(pd.read_csv(ts_filename), is_training = False) for ts_filename in ts_filenames]
ts_df = pd.concat(ts_dfs)

In [22]:
# ts_df.head()

In [23]:
# ts_df.describe()

# **Make Dataset Pipelines**

In [24]:
@tf.function
def _flat_fn_tr(x):
    return x.batch(args["WINDOW_INP"] + args["WINDOW_TAR"])


@tf.function
def _flat_fn_ts(x):
    return x.batch(args["WINDOW_INP"])


@tf.function
def _split_window(features):
    return tf.split(features, [args["WINDOW_INP"], args["WINDOW_TAR"]], axis = 0)

In [25]:
tr_tensor = tf.constant(tr_df, dtype = tf.float32)
vl_tensor = tf.constant(vl_df, dtype = tf.float32)
ts_tensor = tf.constant(ts_df, dtype = tf.float32)

tr_dataset = tf.data.Dataset.from_tensor_slices(tr_tensor
                    ).window(args["WINDOW_INP"] + args["WINDOW_TAR"], args["WINDOW_SHIFT"], args["WINDOW_STRIDE"], args["WINDOW_DR"]).flat_map(_flat_fn_tr
                    ).map(_split_window, num_parallel_calls = args["AUTO"]
                    ).batch(args["GLOBAL_BATCH_SIZE"]
                    ).cache(
                    ).prefetch(args["AUTO"])

vl_dataset = tf.data.Dataset.from_tensor_slices(vl_tensor
                    ).window(args["WINDOW_INP"] + args["WINDOW_TAR"], args["WINDOW_SHIFT"], args["WINDOW_STRIDE"], args["WINDOW_DR"]).flat_map(_flat_fn_tr
                    ).map(_split_window, num_parallel_calls = args["AUTO"]
                    ).batch(args["GLOBAL_BATCH_SIZE"]
                    ).cache(
                    ).prefetch(args["AUTO"])

ts_dataset = tf.data.Dataset.from_tensor_slices(ts_tensor
                    ).window(args["WINDOW_INP"], args["WINDOW_INP"], args["WINDOW_STRIDE"], args["WINDOW_DR"]).flat_map(_flat_fn_ts
#                     ).map(_split_window, num_parallel_calls = args["AUTO"]
                    ).batch(args["NUM_TEST_CSV"] # Not args["GLOBAL_BATCH_SIZE"]
#                     ).cache(
                    ).prefetch(args["AUTO"])

# Print the shapes
print(f"tr_dataset: {tr_dataset.element_spec}")
print(f"vl_dataset: {vl_dataset.element_spec}")
print(f"ts_dataset: {ts_dataset.element_spec}")

tr_dataset: (TensorSpec(shape=(None, 336, 6), dtype=tf.float32, name=None), TensorSpec(shape=(None, 96, 6), dtype=tf.float32, name=None))
vl_dataset: (TensorSpec(shape=(None, 336, 6), dtype=tf.float32, name=None), TensorSpec(shape=(None, 96, 6), dtype=tf.float32, name=None))
ts_dataset: TensorSpec(shape=(None, None, 6), dtype=tf.float32, name=None)

## **Take Samples**

In [ ]:
for element in tr_dataset.take(1):
    foo, bar = element
    print(foo.shape, bar.shape)

In [ ]:
for element in vl_dataset.take(1):
    foo, bar = element
    print(foo.shape, bar.shape)

In [ ]:
for element in ts_dataset.take(1):
    foo = element
    print(foo.shape)

# **Create Network**

In [26]:
class AR_LSTM(tf.keras.Model):
    def __init__(self, units, out_steps, name):
        super(AR_LSTM, self).__init__(name = name)
        self.units = units
        self.out_steps = out_steps
        self.num_features = args["NUM_FEATURES"]
        
        self.lstm_cell = tf.keras.layers.LSTMCell(self.units)
        self.lstm_rnn = tf.keras.layers.RNN(self.lstm_cell, return_state = True)
        self.dense = tf.keras.layers.Dense(self.num_features)
        
    
    def warmup(self, inputs):
        x, *state = self.lstm_rnn(inputs)
        prediction = self.dense(x)
        return prediction, state
        
        
    def call(self, inputs, training = None):
        predictions = []
        
        prediction, state = self.warmup(inputs)
        predictions.append(prediction)
        
        for n in range(1, self.out_steps):
            x = prediction
            x, state = self.lstm_cell(x, states = state, training = training)
            prediction = self.dense(x)
            predictions.append(prediction)
            
        predictions = tf.stack(predictions, axis = 1)
        return predictions

# **Compile and Fit**

   * Repeat the last 24 hours.

In [27]:
models = []

for tau in np.arange(0.1, 1, 0.1):
    model = AR_LSTM(
        units = args["NUM_UNITS"], 
        out_steps = args["WINDOW_TAR"],
        name = f"P{tau:.1f}")

    model.compile(
        loss = tfa.losses.PinballLoss(tau = tau),
        optimizer = tf.keras.optimizers.Adam(args["INIT_LR"]))
    
    models.append(model)

In [28]:
for model in models:
    # TensorBoard callback.
    log_dir = os.path.join(
        "logs", "fit", os.environ["NOTEBOOKNAME"], 
        datetime.datetime.now().strftime(f"{model.name}-%Y%m%d-%H%M%S"))
    tb_callback = tf.keras.callbacks.TensorBoard(log_dir = log_dir, histogram_freq = 1)

    print(f"\nModel {model.name}...\n")
    
    _ = model.fit(
        tr_dataset,
        validation_data = vl_dataset,
        epochs = args["EPOCH"],
        verbose = 2,
        callbacks = [tb_callback])

Model P0.1...

Epoch 1/10
7/7 - 12s - loss: 0.0285 - val_loss: 0.0250
Epoch 2/10
7/7 - 1s - loss: 0.0248 - val_loss: 0.0242
Epoch 3/10
7/7 - 2s - loss: 0.0237 - val_loss: 0.0236
Epoch 4/10
7/7 - 1s - loss: 0.0235 - val_loss: 0.0236
Epoch 5/10
7/7 - 1s - loss: 0.0234 - val_loss: 0.0234
Epoch 6/10
7/7 - 1s - loss: 0.0232 - val_loss: 0.0234
Epoch 7/10
7/7 - 1s - loss: 0.0233 - val_loss: 0.0235
Epoch 8/10
7/7 - 1s - loss: 0.0234 - val_loss: 0.0236
Epoch 9/10
7/7 - 1s - loss: 0.0233 - val_loss: 0.0236
Epoch 10/10
7/7 - 1s - loss: 0.0234 - val_loss: 0.0234

Model P0.2...

Epoch 1/10
7/7 - 11s - loss: 0.0576 - val_loss: 0.0524
Epoch 2/10
7/7 - 1s - loss: 0.0478 - val_loss: 0.0464
Epoch 3/10
7/7 - 1s - loss: 0.0451 - val_loss: 0.0432
Epoch 4/10
7/7 - 1s - loss: 0.0430 - val_loss: 0.0433
Epoch 5/10
7/7 - 1s - loss: 0.0430 - val_loss: 0.0429
Epoch 6/10
7/7 - 1s - loss: 0.0424 - val_loss: 0.0427
Epoch 7/10
7/7 - 1s - loss: 0.0422 - val_loss: 0.0419
Epoch 8/10
7/7 - 1s - loss: 0.0419 - val_loss: 0.0419
Epoch 9/10
7/7 - 2s - loss: 0.0416 - val_loss: 0.0417
Epoch 10/10
7/7 - 1s - loss: 0.0416 - val_loss: 0.0417

Model P0.3...

Epoch 1/10
7/7 - 11s - loss: 0.0785 - val_loss: 0.0659
Epoch 2/10
7/7 - 1s - loss: 0.0650 - val_loss: 0.0595
Epoch 3/10
7/7 - 1s - loss: 0.0598 - val_loss: 0.0593
Epoch 4/10
7/7 - 1s - loss: 0.0587 - val_loss: 0.0581
Epoch 5/10
7/7 - 1s - loss: 0.0578 - val_loss: 0.0584
Epoch 6/10
7/7 - 1s - loss: 0.0579 - val_loss: 0.0583
Epoch 7/10
7/7 - 1s - loss: 0.0576 - val_loss: 0.0579
Epoch 8/10
7/7 - 1s - loss: 0.0576 - val_loss: 0.0577
Epoch 9/10
7/7 - 1s - loss: 0.0575 - val_loss: 0.0578
Epoch 10/10
7/7 - 1s - loss: 0.0575 - val_loss: 0.0581

Model P0.4...

Epoch 1/10
7/7 - 11s - loss: 0.1039 - val_loss: 0.0851
Epoch 2/10
7/7 - 1s - loss: 0.0808 - val_loss: 0.0771
Epoch 3/10
7/7 - 1s - loss: 0.0736 - val_loss: 0.0732
Epoch 4/10
7/7 - 2s - loss: 0.0717 - val_loss: 0.0714
Epoch 5/10
7/7 - 1s - loss: 0.0709 - val_loss: 0.0712
Epoch 6/10
7/7 - 1s - loss: 0.0709 - val_loss: 0.0714
Epoch 7/10
7/7 - 1s - loss: 0.0710 - val_loss: 0.0719
Epoch 8/10
7/7 - 1s - loss: 0.0710 - val_loss: 0.0715
Epoch 9/10
7/7 - 1s - loss: 0.0709 - val_loss: 0.0714
Epoch 10/10
7/7 - 1s - loss: 0.0709 - val_loss: 0.0717

Model P0.5...

Epoch 1/10
7/7 - 11s - loss: 0.1268 - val_loss: 0.0927
Epoch 2/10
7/7 - 1s - loss: 0.0866 - val_loss: 0.0852
Epoch 3/10
7/7 - 1s - loss: 0.0835 - val_loss: 0.0823
Epoch 4/10
7/7 - 1s - loss: 0.0818 - val_loss: 0.0818
Epoch 5/10
7/7 - 1s - loss: 0.0813 - val_loss: 0.0818
Epoch 6/10
7/7 - 1s - loss: 0.0811 - val_loss: 0.0814
Epoch 7/10
7/7 - 1s - loss: 0.0810 - val_loss: 0.0816
Epoch 8/10
7/7 - 1s - loss: 0.0810 - val_loss: 0.0815
Epoch 9/10
7/7 - 1s - loss: 0.0809 - val_loss: 0.0816
Epoch 10/10
7/7 - 1s - loss: 0.0810 - val_loss: 0.0813

Model P0.6...

Epoch 1/10
7/7 - 11s - loss: 0.1529 - val_loss: 0.0924
Epoch 2/10
7/7 - 1s - loss: 0.1078 - val_loss: 0.0929
Epoch 3/10
7/7 - 1s - loss: 0.0922 - val_loss: 0.0911
Epoch 4/10
7/7 - 1s - loss: 0.0903 - val_loss: 0.0883
Epoch 5/10
7/7 - 1s - loss: 0.0882 - val_loss: 0.0878
Epoch 6/10
7/7 - 1s - loss: 0.0873 - val_loss: 0.0876
Epoch 7/10
7/7 - 1s - loss: 0.0872 - val_loss: 0.0877
Epoch 8/10
7/7 - 1s - loss: 0.0871 - val_loss: 0.0876
Epoch 9/10
7/7 - 1s - loss: 0.0870 - val_loss: 0.0875
Epoch 10/10
7/7 - 1s - loss: 0.0870 - val_loss: 0.0875

Model P0.7...

Epoch 1/10
7/7 - 11s - loss: 0.1735 - val_loss: 0.1358
Epoch 2/10
7/7 - 1s - loss: 0.1085 - val_loss: 0.0874
Epoch 3/10
7/7 - 1s - loss: 0.0908 - val_loss: 0.0884
Epoch 4/10
7/7 - 1s - loss: 0.0883 - val_loss: 0.0865
Epoch 5/10
7/7 - 1s - loss: 0.0865 - val_loss: 0.0861
Epoch 6/10
7/7 - 1s - loss: 0.0859 - val_loss: 0.0861
Epoch 7/10
7/7 - 1s - loss: 0.0857 - val_loss: 0.0860
Epoch 8/10
7/7 - 1s - loss: 0.0855 - val_loss: 0.0860
Epoch 9/10
7/7 - 1s - loss: 0.0855 - val_loss: 0.0859
Epoch 10/10
7/7 - 1s - loss: 0.0854 - val_loss: 0.0859

Model P0.8...

Epoch 1/10
7/7 - 11s - loss: 0.1883 - val_loss: 0.1121
Epoch 2/10
7/7 - 1s - loss: 0.0911 - val_loss: 0.0786
Epoch 3/10
7/7 - 1s - loss: 0.0765 - val_loss: 0.0759
Epoch 4/10
7/7 - 1s - loss: 0.0738 - val_loss: 0.0748
Epoch 5/10
7/7 - 1s - loss: 0.0731 - val_loss: 0.0738
Epoch 6/10
7/7 - 1s - loss: 0.0728 - val_loss: 0.0732
Epoch 7/10
7/7 - 1s - loss: 0.0726 - val_loss: 0.0730
Epoch 8/10
7/7 - 1s - loss: 0.0725 - val_loss: 0.0731
Epoch 9/10
7/7 - 1s - loss: 0.0724 - val_loss: 0.0730
Epoch 10/10
7/7 - 1s - loss: 0.0724 - val_loss: 0.0730

Model P0.9...

Epoch 1/10
7/7 - 12s - loss: 0.2296 - val_loss: 0.1067
Epoch 2/10
7/7 - 1s - loss: 0.0869 - val_loss: 0.0631
Epoch 3/10
7/7 - 1s - loss: 0.0578 - val_loss: 0.0546
Epoch 4/10
7/7 - 1s - loss: 0.0513 - val_loss: 0.0491
Epoch 5/10
7/7 - 1s - loss: 0.0476 - val_loss: 0.0479
Epoch 6/10
7/7 - 1s - loss: 0.0470 - val_loss: 0.0469
Epoch 7/10
7/7 - 1s - loss: 0.0465 - val_loss: 0.0466
Epoch 8/10
7/7 - 1s - loss: 0.0462 - val_loss: 0.0468
Epoch 9/10
7/7 - 1s - loss: 0.0462 - val_loss: 0.0465
Epoch 10/10
7/7 - 1s - loss: 0.0461 - val_loss: 0.0465

In [29]:
%tensorboard --logdir logs/fit --host jupyter-server

# **Predict**

In [ ]:
preds = [np.array(model.predict(ts_dataset))[..., -1] for model in models]
preds[0].shape

In [ ]:
submission = pd.read_csv(os.path.join(os.environ["LOCAL_DATA_PATH"], "sample_submission.csv"), index_col = "id")
submission.head()

In [ ]:
for i, column in enumerate(submission.columns):
    submission[column] = np.reshape(preds[i], (-1,))

In [ ]:
submission.head()

In [ ]:
submission.to_csv(
    os.path.join(os.environ["SUBMISSION_PATH"], f"{os.environ['NOTEBOOKNAME']}_submission.csv"))