# **Default Setting**

* Python: 3.6.9
* ML Framework: tf-nightly-gpu 2.5.0-dev20201208
* CPU: AMD Ryzen 5 5600X 6-Core Processor
* GPU: GeForce RTX 3070 (8G) (CUDA 11.1)
* RAM: 32G
* Platform: linux 20.04 LTS

In [1]:
%env NOTEBOOKNAME try6
%env LOCAL_DATA_PATH data
%env SUBMISSION_PATH submission

env: NOTEBOOKNAME=try6
env: LOCAL_DATA_PATH=data
env: SUBMISSION_PATH=submission

In [2]:
import tensorflow as tf
import tensorflow_addons as tfa

import datetime
import glob
import os
import platform

import numpy as np
import pandas as pd

from collections import OrderedDict
from sklearn.model_selection import train_test_split

print(f"tf.__version__: {tf.__version__}")
print(f"tfa.__version__: {tfa.__version__}")

tf.__version__: 2.5.0-dev20201208
tfa.__version__: 0.11.2

/home/myunggyo/anaconda3/envs/py36/lib/python3.6/site-packages/tensorflow_addons/utils/ensure_tf_install.py:44: UserWarning: You are currently using a nightly version of TensorFlow (2.5.0-dev20201208).
TensorFlow Addons offers no support for the nightly versions of TensorFlow. Some things might work, some other might not.
If you encounter a bug, do not file an issue on GitHub.
  UserWarning,

In [3]:
tf.config.list_physical_devices()

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'),
 PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [4]:
# !python -V

In [5]:
# !cat /proc/cpuinfo

In [6]:
!nvidia-smi

Sat Dec 12 15:56:40 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.32.00    Driver Version: 455.32.00    CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Graphics Device     On   | 00000000:0A:00.0  On |                  N/A |
|  0%   34C    P8    18W / 220W |    277MiB /  7979MiB |      9%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A       921      G   /usr/lib/xorg/Xorg                 35MiB |
|    0   N/A  N/A      1415      G   /usr/lib/xorg/Xorg                 81MiB |
|    0   N/A  N/A      1541      G   /usr/bin/gnome-shell               50MiB |
|    0   N/A  N/A      5133      G   ...AAAAAAAA== --shared-files       95MiB |
+-----------------------------------------------------------------------------+

In [7]:
# !df -h

In [8]:
!free -h

              total        used        free      shared  buff/cache   available
Mem:           31Gi       2.9Gi        25Gi       237Mi       3.1Gi        27Gi
Swap:         2.0Gi          0B       2.0Gi

In [9]:
# platform.platform()

In [10]:
# Load the TensorBoard notebook extension.
%load_ext tensorboard

# **Define Arguments**

In [11]:
args = OrderedDict({
    # Basic
    "SEED": 42,
    "TEST_SIZE": 0.2,
    "EPOCH": 10,
    "INIT_LR": 1e-3,
    
    # Dataframe
    "NUM_TEST_CSV": 81,
    
    # Dataset Pipeline
    "WINDOW_INP": 7 * 24 * 2, # 336, 7 days
    "WINDOW_TAR": 2 * 24 * 2, # 96, 2 days
    "WINDOW_SHIFT": 1 * 24 * 2, # 1 day
    "WINDOW_STRIDE": 1,
    "WINDOW_DR": True, # Drop remainders
    "AUTO": tf.data.experimental.AUTOTUNE,
    
    "GLOBAL_BATCH_SIZE": 128,
    
    # Model
    "NUM_UNITS": 128, # lstm units
    "NUM_FEATURES": 6, # dense featues
    "NUM_QUANTILE": 9,
    
})

args

OrderedDict([('SEED', 42),
             ('TEST_SIZE', 0.2),
             ('EPOCH', 10),
             ('INIT_LR', 0.001),
             ('NUM_TEST_CSV', 81),
             ('WINDOW_INP', 336),
             ('WINDOW_TAR', 96),
             ('WINDOW_SHIFT', 48),
             ('WINDOW_STRIDE', 1),
             ('WINDOW_DR', True),
             ('AUTO', -1),
             ('GLOBAL_BATCH_SIZE', 128),
             ('NUM_UNITS', 128),
             ('NUM_FEATURES', 6),
             ('NUM_QUANTILE', 9)])

# **Load Datasets**

## **Train / Validation**

In [12]:
df = pd.read_csv(os.path.join(os.environ["LOCAL_DATA_PATH"], "train", "train.csv"))
df.head()

   Day  Hour  Minute  DHI  DNI   WS     RH   T  TARGET
0    0     0       0    0    0  1.5  69.08 -12     0.0
1    0     0      30    0    0  1.5  69.06 -12     0.0
2    0     1       0    0    0  1.6  71.78 -12     0.0
3    0     1      30    0    0  1.6  71.75 -12     0.0
4    0     2       0    0    0  1.6  75.20 -12     0.0

In [13]:
df.describe()

,Day,Hour,Minute,DHI,DNI,WS,RH,T,TARGET
count,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000
mean,547.000000,11.500000,15.000000,64.344121,234.792371,2.456033,56.793102,9.279928,17.790630
std,316.102148,6.922252,15.000143,103.897125,349.684583,1.426874,22.052875,10.179741,25.759955
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.590000,-19.000000,0.000000
25%,273.000000,5.750000,0.000000,0.000000,0.000000,1.400000,39.697500,1.000000,0.000000
50%,547.000000,11.500000,15.000000,0.000000,0.000000,2.200000,57.600000,9.000000,0.000000
75%,821.000000,17.250000,30.000000,87.000000,469.000000,3.200000,72.770000,17.000000,32.089890
max,1094.000000,23.000000,30.000000,528.000000,1059.000000,12.000000,100.000000,35.000000,99.913939

In [14]:
tr_df, vl_df = train_test_split(
    df, 
    test_size = args["TEST_SIZE"], 
    random_state = args["SEED"])

tr_df.shape, vl_df.shape

((42048, 9), (10512, 9))

In [15]:
def preprocessing(df, is_training = True):
    # Drop timestampes.
    try:
        df = df.drop(["Day", "Hour", "Minute"], axis = 1)
    except:
        pass
    
    # Normalize.
    for column in df.columns[:-1]:
        if is_training:
            args[f"{column}_MAX"] = df[column].max()
            args[f"{column}_MIN"] = df[column].min()
        
        df[column] = (df[column] - args[f"{column}_MIN"]) / (args[f"{column}_MAX"] - args[f"{column}_MIN"])
        
    return df

In [16]:
tr_df = preprocessing(tr_df)
vl_df = preprocessing(vl_df, is_training = False)

In [17]:
tr_df.describe()

,DHI,DNI,WS,RH,T,TARGET
count,42048.000000,42048.000000,42048.000000,42048.000000,42048.000000,42048.000000
mean,0.121155,0.221624,0.204474,0.532615,0.523211,17.719547
std,0.195675,0.330325,0.118662,0.238854,0.188508,25.678521
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.116667,0.347040,0.370370,0.000000
50%,0.000000,0.000000,0.183333,0.541392,0.518519,0.000000
75%,0.164773,0.443815,0.266667,0.706309,0.666667,31.997818
max,1.000000,1.000000,1.000000,1.000000,1.000000,99.747138

In [18]:
vl_df.describe()

,DHI,DNI,WS,RH,T,TARGET
count,10512.000000,10512.000000,10512.000000,10512.000000,10512.000000,10512.000000
mean,0.124701,0.222062,0.205452,0.531757,0.525669,18.074962
std,0.201099,0.329730,0.119881,0.237798,0.188532,26.082442
min,0.000000,0.000000,0.008333,0.004437,0.037037,0.000000
25%,0.000000,0.000000,0.116667,0.348231,0.370370,0.000000
50%,0.000000,0.000000,0.183333,0.540634,0.518519,0.000000
75%,0.168561,0.438149,0.266667,0.700249,0.666667,32.370490
max,0.990530,0.998111,0.983333,1.000000,1.000000,99.913939

## **Test**

In [19]:
ts_filenames = [os.path.join(os.environ["LOCAL_DATA_PATH"], "test", f"{i}.csv") for i in range(args["NUM_TEST_CSV"])]
ts_dfs = [preprocessing(pd.read_csv(ts_filename), is_training = False) for ts_filename in ts_filenames]
ts_df = pd.concat(ts_dfs)

In [20]:
ts_df.head()

   DHI  DNI        WS        RH         T  TARGET
0  0.0  0.0  0.225000  0.290337  0.351852     0.0
1  0.0  0.0  0.225000  0.287631  0.353704     0.0
2  0.0  0.0  0.225000  0.288280  0.355556     0.0
3  0.0  0.0  0.225000  0.285683  0.357407     0.0
4  0.0  0.0  0.233333  0.285467  0.359259     0.0

In [21]:
ts_df.describe()

,DHI,DNI,WS,RH,T,TARGET
count,27216.000000,27216.000000,27216.000000,27216.000000,27216.000000,27216.000000
mean,0.111880,0.237133,0.189333,0.419916,0.532339,18.235096
std,0.173494,0.338179,0.105967,0.207518,0.209003,26.115609
min,0.000000,0.000000,0.008333,-0.029001,0.061111,0.000000
25%,0.000000,0.000000,0.108333,0.254166,0.359259,0.000000
50%,0.011364,0.000000,0.166667,0.424629,0.512963,0.563069
75%,0.157197,0.477809,0.241667,0.576669,0.690741,32.557286
max,0.960227,1.018886,0.916667,0.919597,1.031481,99.450872

# **Make Dataset Pipelines**

In [22]:
@tf.function
def _flat_fn_tr(x):
    return x.batch(args["WINDOW_INP"] + args["WINDOW_TAR"])


@tf.function
def _flat_fn_ts(x):
    return x.batch(args["WINDOW_INP"])


@tf.function
def _split_window(features):
    return tf.split(features, [args["WINDOW_INP"], args["WINDOW_TAR"]], axis = 0)

In [23]:
tr_tensor = tf.constant(tr_df, dtype = tf.float32)
vl_tensor = tf.constant(vl_df, dtype = tf.float32)
ts_tensor = tf.constant(ts_df, dtype = tf.float32)

tr_dataset = tf.data.Dataset.from_tensor_slices(tr_tensor
                    ).window(args["WINDOW_INP"] + args["WINDOW_TAR"], args["WINDOW_SHIFT"], args["WINDOW_STRIDE"], args["WINDOW_DR"]).flat_map(_flat_fn_tr
                    ).map(_split_window, num_parallel_calls = args["AUTO"]
                    ).batch(args["GLOBAL_BATCH_SIZE"]
                    ).cache(
                    ).prefetch(args["AUTO"])

vl_dataset = tf.data.Dataset.from_tensor_slices(vl_tensor
                    ).window(args["WINDOW_INP"] + args["WINDOW_TAR"], args["WINDOW_SHIFT"], args["WINDOW_STRIDE"], args["WINDOW_DR"]).flat_map(_flat_fn_tr
                    ).map(_split_window, num_parallel_calls = args["AUTO"]
                    ).batch(args["GLOBAL_BATCH_SIZE"]
                    ).cache(
                    ).prefetch(args["AUTO"])

ts_dataset = tf.data.Dataset.from_tensor_slices(ts_tensor
                    ).window(args["WINDOW_INP"], args["WINDOW_INP"], args["WINDOW_STRIDE"], args["WINDOW_DR"]).flat_map(_flat_fn_ts
#                     ).map(_split_window, num_parallel_calls = args["AUTO"]
                    ).batch(args["NUM_TEST_CSV"] # Not args["GLOBAL_BATCH_SIZE"]
#                     ).cache(
                    ).prefetch(args["AUTO"])

# Print the shapes
print(f"tr_dataset: {tr_dataset.element_spec}")
print(f"vl_dataset: {vl_dataset.element_spec}")
print(f"ts_dataset: {ts_dataset.element_spec}")

tr_dataset: (TensorSpec(shape=(None, 336, 6), dtype=tf.float32, name=None), TensorSpec(shape=(None, 96, 6), dtype=tf.float32, name=None))
vl_dataset: (TensorSpec(shape=(None, 336, 6), dtype=tf.float32, name=None), TensorSpec(shape=(None, 96, 6), dtype=tf.float32, name=None))
ts_dataset: TensorSpec(shape=(None, None, 6), dtype=tf.float32, name=None)

## **Take Samples**

In [ ]:
# for element in tr_dataset.take(1):
#     foo, bar = element
#     print(foo.shape, bar.shape)

In [ ]:
# for element in vl_dataset.take(1):
#     foo, bar = element
#     print(foo.shape, bar.shape)

In [ ]:
# for element in ts_dataset.take(1):
#     foo = element
#     print(foo.shape)

# **Create Network**

In [24]:
class AR_LSTM(tf.keras.Model):
    def __init__(self, units, out_steps, name):
        super(AR_LSTM, self).__init__(name = name)
        self.units = units
        self.out_steps = out_steps
        self.num_features = args["NUM_FEATURES"]
        
        self.lstm_cell = tf.keras.layers.LSTMCell(self.units)
        self.lstm_rnn = tf.keras.layers.RNN(self.lstm_cell, return_state = True)
        self.dense = tf.keras.layers.Dense(self.num_features) # minus target does not make sense
        
    
    def warmup(self, inputs):
        x, *state = self.lstm_rnn(inputs)
        prediction = self.dense(x)
        return prediction, state
        
        
    def call(self, inputs, training = None):
        predictions = []
        
        prediction, state = self.warmup(inputs)
        predictions.append(prediction)
        
        for n in range(1, self.out_steps):
            x = prediction
            x, state = self.lstm_cell(x, states = state, training = training)
            prediction = self.dense(x)
            predictions.append(prediction)
            
        predictions = tf.stack(predictions, axis = 1)
        return [predictions] * args["NUM_QUANTILE"]

# **Compile and Fit**

   * Repeat the last 24 hours.

In [25]:
model = AR_LSTM(
    units = args["NUM_UNITS"], 
    out_steps = args["WINDOW_TAR"],
    name = "model")

model.compile(
    loss = [tfa.losses.PinballLoss(tau = i) for i in np.arange(0.1, 1, 0.1)],
    loss_weights = [1.] * args["NUM_QUANTILE"], # sum of each losses
    optimizer = tf.keras.optimizers.Adam(args["INIT_LR"]))

In [26]:
# TensorBoard callback.
log_dir = os.path.join(
    "logs", "fit", os.environ["NOTEBOOKNAME"], 
    datetime.datetime.now().strftime(f"{model.name}-%Y%m%d-%H%M%S"))
tb_callback = tf.keras.callbacks.TensorBoard(log_dir = log_dir, histogram_freq = 1)

_ = model.fit(
    tr_dataset,
    validation_data = vl_dataset,
    epochs = args["EPOCH"],
    verbose = 2,
    callbacks = [tb_callback])

Epoch 1/10
7/7 - 12s - loss: 14.2990 - output_1_loss: 0.3480 - output_2_loss: 0.6582 - output_3_loss: 0.9684 - output_4_loss: 1.2786 - output_5_loss: 1.5888 - output_6_loss: 1.8990 - output_7_loss: 2.2092 - output_8_loss: 2.5194 - output_9_loss: 2.8296 - val_loss: 14.2037 - val_output_1_loss: 0.3945 - val_output_2_loss: 0.6904 - val_output_3_loss: 0.9864 - val_output_4_loss: 1.2823 - val_output_5_loss: 1.5782 - val_output_6_loss: 1.8741 - val_output_7_loss: 2.1700 - val_output_8_loss: 2.4659 - val_output_9_loss: 2.7618
Epoch 2/10
7/7 - 1s - loss: 13.9604 - output_1_loss: 0.3769 - output_2_loss: 0.6704 - output_3_loss: 0.9640 - output_4_loss: 1.2576 - output_5_loss: 1.5512 - output_6_loss: 1.8447 - output_7_loss: 2.1383 - output_8_loss: 2.4319 - output_9_loss: 2.7255 - val_loss: 14.1272 - val_output_1_loss: 0.3814 - val_output_2_loss: 0.6785 - val_output_3_loss: 0.9755 - val_output_4_loss: 1.2726 - val_output_5_loss: 1.5697 - val_output_6_loss: 1.8668 - val_output_7_loss: 2.1638 - val_output_8_loss: 2.4609 - val_output_9_loss: 2.7580
Epoch 3/10
7/7 - 1s - loss: 13.9050 - output_1_loss: 0.3652 - output_2_loss: 0.6602 - output_3_loss: 0.9551 - output_4_loss: 1.2500 - output_5_loss: 1.5450 - output_6_loss: 1.8399 - output_7_loss: 2.1349 - output_8_loss: 2.4298 - output_9_loss: 2.7248 - val_loss: 14.1142 - val_output_1_loss: 0.3829 - val_output_2_loss: 0.6793 - val_output_3_loss: 0.9756 - val_output_4_loss: 1.2719 - val_output_5_loss: 1.5682 - val_output_6_loss: 1.8646 - val_output_7_loss: 2.1609 - val_output_8_loss: 2.4572 - val_output_9_loss: 2.7536
Epoch 4/10
7/7 - 1s - loss: 13.8936 - output_1_loss: 0.3691 - output_2_loss: 0.6627 - output_3_loss: 0.9564 - output_4_loss: 1.2501 - output_5_loss: 1.5437 - output_6_loss: 1.8374 - output_7_loss: 2.1311 - output_8_loss: 2.4247 - output_9_loss: 2.7184 - val_loss: 14.1044 - val_output_1_loss: 0.3634 - val_output_2_loss: 0.6643 - val_output_3_loss: 0.9653 - val_output_4_loss: 1.2662 - val_output_5_loss: 1.5672 - val_output_6_loss: 1.8681 - val_output_7_loss: 2.1690 - val_output_8_loss: 2.4700 - val_output_9_loss: 2.7709
Epoch 5/10
7/7 - 1s - loss: 13.8879 - output_1_loss: 0.3657 - output_2_loss: 0.6600 - output_3_loss: 0.9544 - output_4_loss: 1.2487 - output_5_loss: 1.5431 - output_6_loss: 1.8375 - output_7_loss: 2.1318 - output_8_loss: 2.4262 - output_9_loss: 2.7205 - val_loss: 14.0995 - val_output_1_loss: 0.3685 - val_output_2_loss: 0.6680 - val_output_3_loss: 0.9676 - val_output_4_loss: 1.2671 - val_output_5_loss: 1.5666 - val_output_6_loss: 1.8661 - val_output_7_loss: 2.1657 - val_output_8_loss: 2.4652 - val_output_9_loss: 2.7647
Epoch 6/10
7/7 - 1s - loss: 13.8820 - output_1_loss: 0.3573 - output_2_loss: 0.6536 - output_3_loss: 0.9499 - output_4_loss: 1.2462 - output_5_loss: 1.5424 - output_6_loss: 1.8387 - output_7_loss: 2.1350 - output_8_loss: 2.4313 - output_9_loss: 2.7276 - val_loss: 14.1002 - val_output_1_loss: 0.3639 - val_output_2_loss: 0.6646 - val_output_3_loss: 0.9653 - val_output_4_loss: 1.2660 - val_output_5_loss: 1.5667 - val_output_6_loss: 1.8674 - val_output_7_loss: 2.1681 - val_output_8_loss: 2.4688 - val_output_9_loss: 2.7695
Epoch 7/10
7/7 - 1s - loss: 13.8847 - output_1_loss: 0.3610 - output_2_loss: 0.6565 - output_3_loss: 0.9519 - output_4_loss: 1.2473 - output_5_loss: 1.5427 - output_6_loss: 1.8382 - output_7_loss: 2.1336 - output_8_loss: 2.4290 - output_9_loss: 2.7244 - val_loss: 14.0942 - val_output_1_loss: 0.3591 - val_output_2_loss: 0.6608 - val_output_3_loss: 0.9625 - val_output_4_loss: 1.2643 - val_output_5_loss: 1.5660 - val_output_6_loss: 1.8678 - val_output_7_loss: 2.1695 - val_output_8_loss: 2.4712 - val_output_9_loss: 2.7730
Epoch 8/10
7/7 - 1s - loss: 13.8794 - output_1_loss: 0.3511 - output_2_loss: 0.6488 - output_3_loss: 0.9466 - output_4_loss: 1.2444 - output_5_loss: 1.5422 - output_6_loss: 1.8399 - output_7_loss: 2.1377 - output_8_loss: 2.4355 - output_9_loss: 2.7332 - val_loss: 14.0935 - val_output_1_loss: 0.3566 - val_output_2_loss: 0.6590 - val_output_3_loss: 0.9613 - val_output_4_loss: 1.2636 - val_output_5_loss: 1.5659 - val_output_6_loss: 1.8683 - val_output_7_loss: 2.1706 - val_output_8_loss: 2.4729 - val_output_9_loss: 2.7752
Epoch 9/10
7/7 - 1s - loss: 13.8772 - output_1_loss: 0.3507 - output_2_loss: 0.6485 - output_3_loss: 0.9463 - output_4_loss: 1.2441 - output_5_loss: 1.5419 - output_6_loss: 1.8397 - output_7_loss: 2.1375 - output_8_loss: 2.4353 - output_9_loss: 2.7331 - val_loss: 14.0922 - val_output_1_loss: 0.3516 - val_output_2_loss: 0.6551 - val_output_3_loss: 0.9587 - val_output_4_loss: 1.2622 - val_output_5_loss: 1.5658 - val_output_6_loss: 1.8694 - val_output_7_loss: 2.1729 - val_output_8_loss: 2.4765 - val_output_9_loss: 2.7800
Epoch 10/10
7/7 - 1s - loss: 13.8765 - output_1_loss: 0.3492 - output_2_loss: 0.6474 - output_3_loss: 0.9455 - output_4_loss: 1.2437 - output_5_loss: 1.5418 - output_6_loss: 1.8400 - output_7_loss: 2.1381 - output_8_loss: 2.4363 - output_9_loss: 2.7344 - val_loss: 14.0922 - val_output_1_loss: 0.3524 - val_output_2_loss: 0.6557 - val_output_3_loss: 0.9591 - val_output_4_loss: 1.2624 - val_output_5_loss: 1.5658 - val_output_6_loss: 1.8691 - val_output_7_loss: 2.1725 - val_output_8_loss: 2.4759 - val_output_9_loss: 2.7792

In [27]:
%tensorboard --logdir logs/fit --host jupyter-server

Reusing TensorBoard on port 6006 (pid 3556), started -1 day, 15:24:43 ago. (Use '!kill 3556' to kill it.)

# **Predict**

In [28]:
pred = np.array(model.predict(ts_dataset))[..., -1] # (9, 81, 96)
pred = np.transpose(pred, axes = (1, 2, 0)) # (81, 96, 9)
pred = np.reshape(pred, (-1, pred.shape[-1])) # (7776, 9)
pred.shape

(7776, 9)

In [29]:
submission = pd.read_csv(os.path.join(os.environ["LOCAL_DATA_PATH"], "sample_submission.csv"), index_col = "id")
submission.head()

,q_0.1,q_0.2,q_0.3,q_0.4,q_0.5,q_0.6,q_0.7,q_0.8,q_0.9
id,,,,,,,,,
0.csv_Day7_0h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.csv_Day7_0h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.csv_Day7_1h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.csv_Day7_1h30m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.csv_Day7_2h00m,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
submission[:] = pred

In [32]:
submission.to_csv(
    os.path.join(os.environ["SUBMISSION_PATH"], f"{os.environ['NOTEBOOKNAME']}_submission.csv"))